<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lesson 8 - POST Request</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app-vue">
      <div class="users">
        <button class="btn btn-primary" @click="fetchUsers">
          Fetch Users
        </button>

        <input
          class="add-search-input"
          type="text"
          v-model="newUser"
          @keyup.enter="addUser"
        >

        <div>
          <p v-if="submitting">Submitting...</p>
          <p v-if="loading">Loading...</p>

          <ul>
            <li v-for="user in users">
              {{ user.name }} - {{ user.id }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
